body {
  background-color: #5CB2D7;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
div.center {
  display: block;
  text-align: center;
  
}

#form-div {
  display: block;
  text-align: center;
}
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: left;
  border: 2px solid #C8862C;
  border-radius: 20px;
  padding: 20px 75px;
}
#dropdowns {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#button-div {
  text-align: center;
}